### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
# unique_sn = purchase_data["SN"].nunique()
unique_sn = len(purchase_data["SN"].unique())

unique_sn 
# unique_sn_df = pd.dataframe(data=unique_sn, index=["row0"])
# unique_sn_df
# index = unique_sn_df.index
# total_players = len(index)
# print(total_players)
#576

576

In [3]:
# unique_sn_df = pd.DataFrame({"Unique SN": purchase_data["SN"].unique()})
# unique_sn_df.head()
# unique_sn_df = purchase_data.rename)columns={"Unique SN": [unique_sn], 
#                              "Gender")
                             
# state_ufo_counts_df = state_ufo_counts_df.rename(
#     columns={"state": "Sum of Sightings"})
# state_ufo_counts_df.head()

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:

pd.options.display.float_format = '${:,.2f}'.format
#number of unique items
#Number of Unique Items	Average Price	Number of Purchases	Total Revenue
#0	179	$3.05	780	$2,379.77
unique_items = purchase_data["Item Name"].nunique()
# unique_items
#average price
average_price = purchase_data["Price"].mean()
# average_price
index = purchase_data.index
total_purchases = len(index)
# total_purchases
total_revenue = purchase_data["Price"].sum()
# total_revenue

purchasing_analysis_df = pd.DataFrame({"Number of Unique Items": [unique_items], 
                                       "Average Price": [average_price],
                                      "Number of Purchases": [total_purchases],
                                      "Total Revenue": [total_revenue]})

purchasing_analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179          $3.05                  780      $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:

# dropping ALL duplicte values 
gender_df = purchase_data.drop_duplicates("SN")
# # purchase_data.drop_duplicates(subset ="SN", 


# gender_counts = gender_df["Gender"].value_counts()
# gender_counts

# displaying data

In [6]:
pd.options.display.float_format = '{:,.2f}%'.format

gender_demo = gender_df["Gender"].value_counts()
total_demo = len(gender_df["Gender"])
# gender_demo
gender_df = pd.DataFrame({"Gender": gender_demo, 
                          "Percentage": ((gender_demo/total_demo)*100)})
gender_df

                       Gender  Percentage
Male                      484      84.03%
Female                     81      14.06%
Other / Non-Disclosed      11       1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# male_players_df = [purchase_data.loc["Gender"] == "Male", columns]
# male_players_df.head()
# state_counts = usa_ufo_df["state"].value_counts()
# state_counts
gender_counts = purchase_data["Gender"].value_counts()
# gender_index = gender_counts.index
# gender_index 
# gender_counts.columns

In [8]:
# gender_pa_df = purchase_data.set_index("Gender")
# # female_data = purchase_data.loc[purchase_data["Gender"] == "Female"]
# # male_data = purchase_data.loc[purchase_data["Gender"] == "Male"]
# # nd_data = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]

# # gender_PA_df = ({"Gender": gender_counts.index, 
# #                  "Purchase Count": female_data})
# gender_pa_df
clean_gender_df = purchase_data[["Gender", "Price"]]

In [9]:
gender_pa_df = clean_gender_df.set_index("Gender")

In [10]:
total_gender = len(gender_pa_df["Price"])

In [11]:
male_purchases = gender_pa_df.loc["Male", "Price"]
total_male_purchases = male_purchases.sum()
avg_val_male_purchases = male_purchases.mean()
avg_purchase_per_male = total_male_purchases/gender_demo["Male"]

female_purchases = gender_pa_df.loc["Female", "Price"]
total_female_purchases = female_purchases.sum()
avg_val_female_purchases = female_purchases.mean()
avg_purchase_per_female = total_female_purchases/gender_demo["Female"]

nd_purchases = gender_pa_df.loc["Other / Non-Disclosed", "Price"]
total_nd_purchases = nd_purchases.sum()
avg_val_nd_purchases = nd_purchases.mean()
avg_purchase_per_nd = total_nd_purchases/gender_demo["Other / Non-Disclosed"]

In [12]:
pd.options.display.float_format = '${:,.2f}'.format

gender_df = pd.DataFrame({"Gender": gender_counts, 
                          "Average Purchase Price": [avg_val_male_purchases, avg_val_female_purchases, avg_val_nd_purchases],
                          "Total Purchase Value": [total_male_purchases, total_female_purchases, total_nd_purchases],
                          "Average Purchase per Person": [avg_purchase_per_male, avg_purchase_per_female, avg_purchase_per_nd]})

gender_df_final =gender_df.set_index("Gender")

gender_df_final

,Average Purchase Price,Total Purchase Value,Average Purchase per Person
Gender,,,
652,$3.02,"$1,967.64",$4.07
113,$3.20,$361.94,$4.47
15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [14]:
age_demo = purchase_data[["Age", "Price"]]
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
age_demo["Age Bins"] = pd.cut(age_demo["Age"], bins, labels=group_names, include_lowest=True)
age_demo_bins = age.demo.set_index("Age Bins")
age_demo_bins
# age_demo_bins = age_demo.groupby("Age Bins")

/Users/catherineluquire/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

NameError: name 'age' is not defined

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame